# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/
ENV/

# -----------------------------
# YOLO Training Outputs
# -----------------------------
wandb/

# -----------------------------
# Model Weights
# -----------------------------

*.onnx
*.engine
*.tflite

# -----------------------------
# Dataset (usually very large)
# -----------------------------
dataset/
data/
datasets/

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Temporary files
# -----------------------------
*.tmp
*.temp